<form action="/posts/" method="post">
  {% csrf_token %}
    <label for="post">Write a Post</label>
    <textarea class="u-full-width" placeholder="What's happening?" id="post" name="post"></textarea>
    <input class="button-primary" value="Submit" type="submit">
</form>
