    <table class="u-full-width">
      <tbody>
          {% for post in posts %}
            <tr>
              <td>
              <div class="row">
              <div class="two columns">
                <img class="u-pull-right" height="75" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" />
              </div>
              <div class="ten columns">
                <strong>
                  <a href="/users/{{post.user.id}}/">
                    {{post.user.email}}
                  </a>
                </strong>
                <p>{{post.text}}</p>
              </div>
              </div>
              <td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
