<!DOCTYPE html>
<html>
  <head>
    <title>Twitterish</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <style>
    .header{ margin-top: 3rem; }

    .navbar{
      display: block;
      width: 100%;
      height: 6.5rem;
      background: #fff;
      z-index: 99;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }

    .navbar-list {
      list-style: none;
    }

    .navbar-item{
      position: relative;
      float: left;
      margin-bottom: 0;
      padding-left: 2rem;
      padding-right: 2rem;
      height: 72.5px;
    }

  </style>

  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <h2>
              <a href="/">
                Twitterish
              </a>
            </h2>
          </li>
        </ul>
        <ul class="navbar-list u-pull-right">
          <li class="navbar-item">
            <a href="/users/">Users</a>
          </li>
          <li class="navbar-item">
            <a href="/accounts/logout/">logout</a>
          </li>
        </ul>

      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
