{% extends "base_generic.html" %}

{% block content %}

<form action="/signup/" method="post">
  {% csrf_token %}
  <div class="row">
      <label for="email">Email</label>
      <input id="email" type="email" name="email">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
  </div>
  <input class="button-primary" value="Submit" type="submit">
</form>
{% endblock %}
