{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <ul>
  {% for user in users %}
    <li><a href="/users/{{user.id}}/">{{user.email}}</a></li>
  {% endfor %}
  </ul>

{% endblock %}
